rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function matchUserSchema() {
      return request.resource.data.keys().hasOnly(["displayName", "firstName", "lastName", "email", "createdAt"])
    }

    match /users/{userUid} {
      allow create: if request.auth.uid == userUid && matchUserSchema();
      allow read: if request.auth.uid == userUid;
    }
  }
}