rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function matchAuthUid(uid) {
      return request.auth.uid == uid
    }

    match /users/{userUid} {
      
      allow read: if matchAuthUid(userUid);
    }
  }
}